.env
.env.sandbox
*.env
auth.json

venv/
.venv/
env/
ENV/
dist/
build/
*.egg-info/

src/models/saved_models/*.pkl
src/models/saved_models/*.joblib

__pycache__/
*/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.ipynb_checkpoints/
*/.ipynb_checkpoints/

.streamlit/config.toml
.streamlit/secrets.toml

.DS_Store
Thumbs.db
desktop.ini
*.log

*.csv_downloaded
reporte_priorizacion_fraude.csv